{
  "name" : "testwolfcrypt",
  "files" : [
    "wolfcrypt/test/test.c",
    "wolfcrypt/src/hmac.c",
    "wolfcrypt/src/hash.c",
    "wolfcrypt/src/cpuid.c",
    "wolfcrypt/src/random.c",
    "wolfcrypt/src/sha256.c",
    "wolfcrypt/src/rsa.c",
    "wolfcrypt/src/aes.c",
    "wolfcrypt/src/sha.c",
    "wolfcrypt/src/sha512.c",
    "wolfcrypt/src/sha3.c",
    "wolfcrypt/src/logging.c",
    "wolfcrypt/src/wc_encrypt.c",
    "wolfcrypt/src/wc_port.c",
    "wolfcrypt/src/error.c",
    "wolfcrypt/src/signature.c",
    "wolfcrypt/src/wolfmath.c",
    "wolfcrypt/src/memory.c",
    "wolfcrypt/src/dh.c",
    "wolfcrypt/src/asn.c",
    "wolfcrypt/src/coding.c",
    "wolfcrypt/src/poly1305.c",
    "wolfcrypt/src/md5.c",
    "wolfcrypt/src/chacha.c",
    "wolfcrypt/src/chacha20_poly1305.c",
    "wolfcrypt/src/tfm.c",
    "wolfcrypt/src/ecc.c",
    "src/internal.c",
    "src/wolfio.c",
    "src/keys.c",
    "src/ssl.c",
    "src/tls.c",
    ".tis/mkfs/mkfs_filesystem.c",
    ".tis/mkfs/__tis_mkfs.c",
    ".tis/taas-stubs/my-stubs.c"  ],
  "main" : "main",
  "compilation_cmd" : "-DHAVE_CONFIG_H -I. -DHAVE_FFDHE_2048 -DSINGLE_THREADED -DHAVE_THREAD_LS -DNDEBUG -DTFM_NO_ASM -DWOLFSSL_NO_ASM -DTFM_TIMING_RESISTANT -DECC_TIMING_RESISTANT -DWC_RSA_BLINDING -DHAVE_AESGCM -DWOLFSSL_SHA512 -DWOLFSSL_SHA384 -DNO_DSA -DHAVE_ECC -DTFM_ECC256 -DECC_SHAMIR -DWOLFSSL_BASE64_ENCODE -DNO_RC4 -DNO_HC128 -DNO_RABBIT -DWOLFSSL_SHA224 -DWOLFSSL_SHA3 -DHAVE_POLY1305 -DHAVE_ONE_TIME_AUTH -DNO_CHACHA_ASM -DHAVE_CHACHA -DHAVE_HASHDRBG -DHAVE_TLS_EXTENSIONS -DHAVE_SUPPORTED_CURVES -DHAVE_EXTENDED_MASTER -DNO_PSK -DNO_MD4 -DNO_PWDBASED -DUSE_FAST_MATH -DWOLFSSL_X86_64_BUILD -DWC_NO_ASYNC_THREADING -DNO_DES3 -DHAVE___UINT128_T=1  -I.tis/mkfs -I.tis/taas-stubs",
  "machdep" : "gcc_x86_64"
}
